@import "../Globalstyles/_variables.scss";
@import "../Globalstyles/mixin.scss";
.i-all{
    @include d-col;
    background-color: $clr;
    height: 35rem;
    padding-top: 10rem;
    font-family:$fnt;


}

.c-container{
    
    font-size: 2.5rem;
    text-align: center;
}

.p-container{
    font-size: $twh;
    text-align: center

}

.mail{
    font-size: 2rem;
    text-align: center

}

@media screen and (min-width: 1024px){
    .i-all{
        height: 48rem;
    }
    .c-container{
        font-size: 3rem;
    }
    .p-container{
        font-size: 3.5rem;
    }
    .mail{
        font-size:2.5rem ;
    }
}