@import "../Globalstyles/_variables.scss";
@import "../Globalstyles/mixin.scss";

.middle-container{
    display: flex;
    flex-direction: column;
    background-color: $clr;
    padding-top: $fi;
    font-family: $fnt;
}


.info-corpoate{
    display: flex;
    flex-direction: column;
    font-family:$fnt;
}

.title-con{
     font-size: 2rem;
     text-align: center;
   
}

.info-con{
    font-size: 1.3rem;
    padding-left: 1.5rem ;
    padding-right: 1.5rem;
    text-align: center
}
.login-m{
    display: flex;
    align-items: center;
    gap: 1rem;
}


.table-container{
    @include panel-d;
}


@media screen and (min-width: 720px) {
    .table-container {
        @include table-res-720;
    }

    .info-con{
        @include infor-con-res-720;
    }
}





@media screen and (min-width: 1024px) {
    .middle-container{
        flex-direction: row;
    }
    .info-corpoate{
        flex: 70%;
    }
    .table-container {
        @include table-mar-res-1024;
    }

    .title-con{
        @include title-mod;
      
   }

    .info-con{
        @include infor-con-res-1024;
    }
   
}