@import "../Globalstyles/_variables.scss";
@import "../Globalstyles/mixin.scss";
.middle-two{
    display: flex;
    flex-direction: column;
    background-color: $clr;
    padding-top: $fi;
    font-family:$fnt;
}


.info-Vendor{
    display: flex;
    flex-direction: column;
}


.title-m2-con{
    font-size: 2rem;
    text-align: center;

}

.k-con{
    font-size: 1.3rem;
    padding-left: 1.5rem ;
    padding-right: 1.5rem;
    text-align: center;

}

.login{
    display: flex;
    align-items: center;
    gap: 1rem;
}


.n-container{
    @include panel-d;   
}

@media screen and (min-width: 720px) {
    .n-container {
    @include table-res-720;
    }

    .k-con{
        @include infor-con-res-720;
    }

    
}

@media screen and (min-width: 1024px) {
    .middle-two{
        flex-direction: row;
    }

    
    .title-m2-con{
        @include title-mod;
    }

    .info-Vendor{
        flex: 70%;
    }

    .n-container{
       @include table-mar-res-1024;
    }

    .k-con{
        @include infor-con-res-1024;
    }


}