@import "../Globalstyles/_variables.scss";
@import "../Globalstyles/mixin.scss";
.navbar{

    display: flex;
    position: fixed;
    background-color: gray;
    width: 100%;
    margin-top: none;
    font-family: $fnt;

}

.navItem{
    display: flex;
    font-size: 1.6rem;
    color: black;
    gap: .5rem;
    align-items: center ;
}

.photo{
    width: 2.8rem;
    height: 2.8rem;
}

@media screen and (min-width: 1024px){
    .navItem{
        font-size: 2rem ;
    }
}